body {
  background-color: rgb(236, 200, 176);
}

h1 {
  color: #5a0190;
  font-family: "Verdana";
}

img {
  width: 50%;
  height: auto;
  border-radius: 20px;
}

.resizeImg {
  width: 80%;
  height: auto;
  border-radius: 10%;
}

h2 {
  font-style: italic;
  font-family: "Chaparral Pro Light";
  color: rgb(93, 73, 154);
  font-size: 35;
}

h3 {
  font-family: "Century Gothic";
  color: #7c2a7f;
}

li {
  font-family: "century gothic";
  color: #716a80;
}
